.content-section-white {
    background-color: #ffffff;
}

.navbar-custom{
    background-color: #fff!important;
    opacity:0.8
}

.navbar-light .navbar-nav .nav-link{
    color: #000000;
    font-family: Glacial;
    font-size: 20px;
    margin-right: 1rem;
    
}

.logo-img{
    width: 120%!important;
}

.text-navbar{
    color: #000000;
    font-weight: normal;
}

.text-navbar:hover{
    color: #e198ad;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e198ad;
}

.navbar-nav{
   margin-left: 3rem!important;
}

.conten-navbar{
    width: 6px;
    height: 40px!important;
    border-radius: 5px;
    background-color: #e198ad;
    top: 2px;
    position: relative;
}

.conten-navbar2{
    width: 6px;
    height: 25px!important;
    border-radius: 5px;
    background-color: #e198ad;
    top: 11px;
    position: relative;
}

.dropdown-item:active{
    background-color: #e198ad;
    color: #ffffff;
}


/*display xl*/
@media only screen and (max-width: 1200px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 20px;
        margin-right: 0.9rem;
        
    }
}

@media only screen and (max-width: 1100px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 16px;
        margin-right: 0.7rem;
        
    }
}

/*display lg*/
@media only screen and (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 15px;
        margin-right: 0rem;
        
    }
}

@media only screen and (max-width: 900px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 12px;
        margin-right: 0rem;
        
    }
}

/*display md:*/
@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #ffffff;
        height: 755px!important;
        text-align: center;
    }

    .dropdown-nav {
        font-size: 20px;
        color: #000000;
        margin-top: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 35px;
         /*margin-right: 3rem;*/
    }


    .navbar-light .navbar-nav .nav-link:hover{
        color: #e198ad;
    }

    .dropdown-item{
        font-size: 20px;
        text-align: center;
    }

    .dropdown-menu {
        border: 0px solid rgba(0,0,0,.15);
    }

    .navbar-first{
        margin-top: 30%;
    }
    
    .navbar-nav{
       margin-left: 0rem!important;
    }

}


@media only screen and (max-width: 768px){

}

/*display sm*/
@media only screen and (max-width: 576px) {
    .logo-img{
        width: 100%!important;
    }

    .navbar-custom{
        opacity:0.9;
    }

    .dropdown-item{
        font-size: 25px;
        text-align: center;
    }

}

/*display xs*/
@media only screen and (max-width: 400px) {

    .navbar-first{
        margin-top: 0%;
    }

}

