.content-section-white {
    background-color: #ffffff;
}

.navbar-custom{

}

.text-navbar{
    color: #000000;
    font-weight: normal;
}

.text-navbar:hover{
    color: #e198ad;
}

.navbar-nav{
   margin-left: 3rem!important;
}

/*display xl*/
@media only screen and (max-width: 1200px) {

}

/*display lg*/
@media only screen and (max-width: 992px) {

}

/*display md:*/
@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #ffffff;
        height: 755px!important;
        text-align: center;
    }

    .dropdown-nav {
        font-size: 20px;
        color: #000000;
        margin-top: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 35px;
         /*margin-right: 3rem;*/
    }


    .navbar-light .navbar-nav .nav-link:hover{
        color: #e198ad;
    }

    .dropdown-item{
        font-size: 20px;
        text-align: center;
    }

    .dropdown-menu {
        border: 0px solid rgba(0,0,0,.15);
    }

    .navbar-first{
        margin-top: 30%;
    }
    
    .navbar-nav{
       margin-left: 0rem!important;
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 768px){

}

/*display xs*/
@media only screen and (max-width: 400px) {

    .navbar-first{
        margin-top: 15%;
    }

}

