.paquetes{
    background-image: url('../img/elements/precios-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.card-paquete{
    background: transparent;
    border: 1px  transparent;
}

.tittle-paquetes{
    font-size: 30px;
    color: #462435;
}

.bg-paquetes-li{
    background-image: url('../img/elements/pricing-img.png');
    background-repeat: no-repeat;
    width: 110%;
    height: 100px;
    position: relative;
}

.bg-paquetes-li-ul{
    background-image: url('../img/elements/pricing-img.png');
    background-repeat: no-repeat;
    width: 110%;
    height: 100px;
    position: relative;
}

.bg-paquetes-li-2{
    background-image: url('../img/elements/pricing-img-2.png');
    background-repeat: no-repeat;
    width: 110%;
    height: 100px;
    position: relative;
}

.bg-paquetes-li-2-ul{
    background-image: url('../img/elements/pricing-img-2.png');
    background-repeat: no-repeat;
    width: 110%;
    height: 100px;
    position: relative;
}

.bg-paquetes-li-3{
    background-image: url('../img/elements/pricing-img-3.png');
    background-repeat: no-repeat;
    width: 110%;
    height: 140px!important;
    position: relative;
}

.contendor-p{
    position: absolute;
    text-align: center;
    top: 0px;
    left: -15px;
    font-size: 22px;
    color: #462435;
    width: 280px;
    text-shadow: 0px 0px 1px #000000;
    font-family: Glacial;
}

.contendor-p-2{
     position: absolute;
    text-align: center;
    top: 0px;
    left: -15px;
    font-size: 22px;
    color: #462435;
    width: 280px;
    text-shadow: 0px 0px 1px #000000;
    font-family: Glacial;
}

.card-body {
    padding: 0rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
/*display xl*/
@media only screen and (max-width: 1500px) {
    .paquetes{
        background-image: url('../img/elements/precios-xl.png');
    }
}


@media only screen and (max-width: 1400px) {
    .paquetes{
        background-image: url('../img/elements/precios-xlm.png');
    }
}

@media only screen and (max-width: 1300px) {
    .paquetes{
        background-image: url('../img/elements/precios-1300.png');
    }
}

/*display xl*/
@media only screen and (max-width: 1200px) {

    .paquetes{
        background-image: url('../img/elements/precios-1200.png');
    }
    .bg-paquetes-li{
        width: 130%;
        height: 100px;
    }

    .bg-paquetes-li-ul{
        width: 130%;
        height: 100px;
    }

    .bg-paquetes-li-2{
        width: 130%;
        height: 100px;
    }

    .bg-paquetes-li-2-ul{
        width: 130%;
        height: 100px;

    }

    .bg-paquetes-li-3{
        width: 130%;
        height: 140px!important;
    }

    .tittle-paquetes{
        font-size: 26px;
    }
}

@media only screen and (max-width: 1100px) {
    .paquetes{
        background-image: url('../img/elements/precios-100.png');
    }
}

/*display lg*/
@media only screen and (max-width: 992px) {

    .paquetes{
        background-image: url('../img/elements/precios-bg-md.png');
    }

    .bg-paquetes-li-ul{
        width: 250px;
        height: 100px;
        left: 150px;
        position: relative;
    }

    .bg-paquetes-li-2-ul{
        width: 250px;
        height: 100px;
        left: 150px;
        position: relative;
    }

    .contendor-p-2 {
        text-align: center;
        top: 0px;
        left: -15px;
        width: 280px;
    }

}

/*display md:*/
@media only screen and (max-width: 768px) {

    .paquetes{
        background-image: url('../img/elements/precios-bg-sm.png');
    }

    .bg-paquetes-li{
        width: 250px;
        height: 100px;
        left: 50px;
    }

    .bg-paquetes-li-2{
        width: 250px;
        height: 100px;
        left: 50px;
    }

    .bg-paquetes-li-3{
        width: 250px;
        height: 100px;
        left: 50px;
    }

    .bg-paquetes-li-ul{
        width: 250px;
        height: 100px;
        left: 50px;
    }

    .bg-paquetes-li-2-ul{
        width: 250px;
        height: 100px;
        left: 50px;
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {

    .paquetes{
        background-image: url('../img/elements/precios-bg-xs.png');
    }

    .bg-paquetes-li{
        width: 250px;
        height: 100px;
        left: 39px;
    }

    .bg-paquetes-li-2{
        width: 250px;
        height: 100px;
        left: 39px;
    }

    .bg-paquetes-li-3{
        width: 250px;
        height: 100px;
        left: 39px;
    }

    .bg-paquetes-li-ul{
        width: 250px;
        height: 100px;
        left: 39px;
    }

    .bg-paquetes-li-2-ul{
        width: 250px;
        height: 100px;
        left: 39px;
    }
}
/*display intermnedio*/
@media only screen and (max-width: 576px) {

    .paquetes{
        background-image: url('../img/elements/pricing-bg-576.png');
    }

    .bg-paquetes-li{
        width: 250px;
        height: 100px;
        left: 20px;
    }

    .bg-paquetes-li-2{
        width: 250px;
        height: 100px;
        left: 20px;
    }

    .bg-paquetes-li-3{
        width: 250px;
        height: 100px;
        left: 20px;
    }

    .bg-paquetes-li-ul{
        width: 250px;
        height: 100px;
        left: 20px;
    }

    .bg-paquetes-li-2-ul{
        width: 250px;
        height: 100px;
        left: 20px;
    }
}

@media only screen and (max-width: 415px) {
    .bg-paquetes-li{
        width: 250px;
        height: 100px;
        left: -20px;
    }

    .bg-paquetes-li-2{
        width: 250px;
        height: 100px;
        left: -20px;
    }

    .bg-paquetes-li-3{
        width: 250px;
        height: 100px;
        left: -20px;
    }

    .bg-paquetes-li-ul{
         left: -20px;
    }
    .bg-paquetes-li-2-ul{
         left: -20px;
    }
}


/*display xs*/
@media only screen and (max-width: 400px) {

    .paquetes{
        background-image: url('../img/elements/pricing-bg-ss.png');
    }

    .tittle-paquetes {
        font-size: 20px;
    }

    .bg-paquetes-li{
        width: 250px;
        height: 100px;
        left: -35px;
    }

    .bg-paquetes-li-2{
        width: 250px;
        height: 100px;
        left: -35px;
    }

    .bg-paquetes-li-3{
        width: 250px;
        height: 100px;
        left: -35px;
    }

    .bg-paquetes-li-ul{
        width: 250px;
        height: 100px;
        left: -35px;
    }

    .bg-paquetes-li-2-ul{
        width: 250px;
        height: 100px;
        left: -35px;
    }

}
