.paleta-izquierda{
    left: 0px;
    width:10%;
}

.estrellas-derechas{
    right: 0px;
    width:10%; 
}

.estrellas-izquierda{
    left: 0px;
    bottom: 0px;
    width:10%; 
}

.paleta-derechas{
    top: 50%;
    right: 0px;
    width:10%; 
}

.text-precios{
    font-family: Glacial;
}

.container-precios{
    padding: 3rem!important;
}

.nosotros-col{
    padding-right: 0px;
}

.contetn-vertical-precios{
    width: 10px!important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e198ad;
}

.contetn-vertical-precios2{
     width: 10px!important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e198ad;
}


.contetn-vertical-verde-precios{
    width: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #678174
}

/*display xl*/
@media only screen and (max-width: 1200px) {

}

/*display lg*/
@media only screen and (max-width: 992px) {
    .paleta-izquierda{
        left: 0px;
        width:17%;
    }
    
    .estrellas-derechas{
        right: 0px;
        width:17%; 
    }
    
    .estrellas-izquierda{
        left: 0px;
        bottom: 0px;
        width:17%; 
    }
    
    .paleta-derechas{
        top: 50%;
        right: 0px;
        width:17%; 
    }
}

/*display md:*/
@media only screen and (max-width: 768px) {


}

/*display sm*/
@media only screen and (max-width: 576px) {


    .paleta-izquierda{
        left: 0px;
        width:23%;
    }
    
    .estrellas-derechas{
        right: 0px;
        width:23%; 
    }
    
    .estrellas-izquierda{
        left: 0px;
        bottom: 0px;
        width:23%; 
    }
    
    .paleta-derechas{
        top: 50%;
        right: 0px;
        width:23%; 
    }


    .container-precios{
        padding: 0rem!important;
    }

    .contetn-vertical-precios2{
         width: 6px!important;
    }

}

/*display xs*/
@media only screen and (max-width: 400px) {

    .paleta-izquierda{
        left: 0px;
        width:25%;
    }
    
    .estrellas-derechas{
        right: 0px;
        width:30%; 
    }
    
    .estrellas-izquierda{
        left: 0px;
        bottom: 0px;
        width:30%; 
    }
    
    .paleta-derechas{
        top: 50%;
        right: 0px;
        width:25%; 
    }


    .content-precing2{
         margin-left: 50px;
    }

}