.precios{
    background-image: url('../img/elements/pricing-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.nosotros-col{
    padding-right: 0px;
}

.contetn-vertical-precios{
    width: 10px!important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e198ad;
}


.contetn-vertical-verde-precios{
    width: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #678174
}



/*display xl*/
@media only screen and (max-width: 1200px) {

}

/*display lg*/
@media only screen and (max-width: 992px) {

}

/*display md:*/
@media only screen and (max-width: 768px) {


}

/*display sm*/
@media only screen and (max-width: 576px) {

}

/*display xs*/
@media only screen and (max-width: 400px) {

}