.precios{
    background-image: url('../img/elements/pricing-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.text-precios{
    font-family: Glacial;
}

.container-precios{
    padding: 3rem!important;
}

.nosotros-col{
    padding-right: 0px;
}

.contetn-vertical-precios{
    width: 10px!important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e198ad;
}

.contetn-vertical-precios2{
     width: 10px!important;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e198ad;
}


.contetn-vertical-verde-precios{
    width: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #678174
}

/*display xl*/
@media only screen and (max-width: 1200px) {

}

/*display lg*/
@media only screen and (max-width: 992px) {
    .precios{
        background-image: url('../img/elements/pricing-bg-lg.png');
    }
}

/*display md:*/
@media only screen and (max-width: 768px) {
    .precios{
        background-image: url('../img/elements/pricing-bg-md.png');
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {

    .precios{
        /* background-image: url('../img/elements/pricing-bg-sm.png'); */
        background-image: url('../img/elements/pricing-bg-xs.png');
    }

    .container-precios{
        padding: 0rem!important;
    }

    .contetn-vertical-precios2{
         width: 6px!important;
    }

}

/*display xs*/
@media only screen and (max-width: 400px) {

    .precios{
        background-image: url('../img/elements/pricing-bg-xs.png');
    }

    .content-precing2{
         margin-left: 50px;
    }

}