.ul-product{
    list-style: none;
}

.texto-li-product{
    margin-bottom: 0rem;
    text-align: center;
}

.tittle2-products{
    color: #44294f;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 1px #000000;
}

.text-products{
    font-size:20px;
    color: #000000;
    text-shadow: 0px 0px 1px #000000;
}

.text-products2{
    color: #44294f;
    text-shadow: 0px 0px 1px #000000;
    font-size: 13px;
}

.tittle2-products2{
    color: #44294f;
    font-weight: bold;
     font-size: 18px;
    text-shadow: 0px 0px 1px #000000;
}

.div-prd{
    padding: 1.5rem!important;
}

.col-products{
    padding: 2rem!important;
    transition: all .2s ease-in-out;

}

.product-border{
    border: 0px solid #462435;
    width: 260px!important;
    height: 360px!important;
    position: relative;
}


.product-absolute{
    position: absolute;
    margin-top: 3rem!important;
}


.col-products:hover {
    transform: scale(1.1);
}


/*.product-img:hover{*/
/*   -webkit-box-shadow: 0px 0px 30px 0px rgba(225,152,173,1);*/
/*-moz-box-shadow: 0px 0px 30px 0px rgba(225,152,173,1);*/
/*box-shadow: 0px 0px 30px 0px rgba(225,152,173,1);*/
/*}*/


/*display xl*/
@media only screen and (max-width: 1200px) {
    .col-products{
        padding: 2rem!important;
    }

    .product-border{
        height: 320px!important;
    }

}

/*display lg*/
@media only screen and (max-width: 992px) {

    .product-border{
        border: 0px solid #462435;
        width: 215px!important;
        height: 350px!important;
    }

    .product-absolute{
        position: absolute;
        margin-top: 5rem!important;
    }

    .col-products{
        padding: 1.5rem!important;
    }

    .tittle2-products{
        font-size: 22px;
    }

    .text-products{
        font-size:17px;
    }

}

/*display md:*/
@media only screen and (max-width: 768px) {

    .product-border{
        border: 0px solid #462435;
        width: 160px!important;
        height: 300px!important;
    }

    .product-absolute{
        position: absolute;
        margin-top: 3.5rem!important;
    }

    .div-prd{
        padding: 1rem!important;
    }

    .col-products{
        padding: 0.5rem!important;
        margin-bottom: 3rem!important;
    }

    .tittle2-products{
        font-size: 19px;
    }

    .text-products2 {
        color: #44294f;
        text-shadow: 0px 0px 1px #000000;
        font-size: 14px;
    }

    .text-products{
        font-size:16px;
        font-family: Glacial;
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {
    .col-products{
        padding: 0.5rem!important;
    }

    .product-border{
        border: 0px solid #462435;
        width: 230px!important;
        height: 280px!important;
    }

    .tittle-products-rs{
        top: 60px;
        position:relative;
    }

}

@media only screen and (max-width: 500px) {
    .product-border{
        border: 0px solid #462435;
        width: 180px!important;
        height: 250px!important;

    }
}

/*display xs*/
@media only screen and (max-width: 400px) {

    .product-border{
        border: 0px solid #462435;
        width: 150px!important;
        height: 220px!important;
    }

    .tittle2-products2{
            font-size: 17px;
    }

    .text-products2{
        font-size: 12px;
    }

}