.promo{
    background-image: url('../img/elements/content-img.png');
    background-repeat: no-repeat;
    height:500px!important;
    width: 100%;
    background-size: 100% 100%;
}

.tittle-promo{
    font-size:30px;
    font-weight: bold;
    color: #f89aaf;
 }

.text-promo{
    font-size:25px;
     font-weight: lighter;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
}

.strong-promo{
    font-size:25px;
    font-weight: bold;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
}

/*display xl*/
@media only screen and (max-width: 1200px) {
    .promo{
        background-image: url('../img/elements/content-img-lg.png');
    }
}

/*display lg*/
@media only screen and (max-width: 992px) {
    .promo{
        background-image: url('../img/elements/content-img-md.png');
        height:auto!important;
    }
}

/*display md:*/
@media only screen and (max-width: 768px) {

    .promo{
        background-image: url('../img/elements/content-img-m.png');
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {
    .tittle-promo {
        font-size: 25px;
    }
}

/*display xs*/
@media only screen and (max-width: 400px) {
    .tittle-promo {
        font-size: 20px;
    }
}