.promo{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.estrellas-derechas{
    right: 0px;
    /* width:10%;  */
    z-index: 100;
}

.estrellas-izquierda{
    left: 0px;
    bottom: 0px;
    /* width:10%;  */
}

.tittle-promo{
    font-size:30px;
    font-weight: bold;
    color: #f89aaf;
 }

.text-promo{
    font-size:25px;
     font-weight: lighter;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
     font-family: Glacial;
}

.strong-promo{
    font-size:25px;
    font-weight: bold;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
}

/*display xl*/
@media only screen and (max-width: 1200px) {

}

/*display lg*/
@media only screen and (max-width: 992px) {

}

/*display md:*/
@media only screen and (max-width: 768px) {


}

/*display sm*/
@media only screen and (max-width: 576px) {
    .tittle-promo {
        font-size: 25px;
    }
    .text-caballero{
        margin-top:  1.5rem!important;;
        margin-bottom: 1.5rem!important;
    }
}

/*display xs*/
@media only screen and (max-width: 400px) {

    .estrellas-derechas{
        top: 4%;
        /* width:10%;  */
    }

    .tittle-promo {
        font-size: 20px;
    }
    .promo{
        margin-top: 1rem;
        margin-bottom:1rem;
    }

}