.sucursales {
    background-image: url('../img/elements/content-img-start.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.sucursales-mazatlan{
    background-image: url('../img/elements/content-img-sucursalt.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.tittle-sucursal{
    color: #44294f;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 1px #000000;
}

.tittle2-sucursal{
    color: #44294f;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 1px #000000;
}

.text-sucursal{
    font-size:20px;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
}

.content-sucursal{
    position: relative;
}

.img-sucursal{
    position: absolute;
    top: 10px;
    left: -35px;
    width: 25%;
}

.img-sucursal2{
        position: absolute;
    top: 10px;
    left: 90px;
    width: 13%;
}

.img-round-sucursal{
    width: 80%;
}

/*display xl*/
@media only screen and (max-width: 1200px) {
    .tittle-sucursal{
        font-size: 23px;
    }

    .tittle2-sucursal{
        font-size: 22px;
    }

    .text-sucursal{
        font-size:15px;
    }
    .img-sucursal{
        top: 10px;
        left: -30px;
        width: 25%;
    }
}

/*display lg*/
@media only screen and (max-width: 992px) {

    .sucursales{
        background-image: url('../img/elements/content-img-start-lg.png');
        height:auto!important;
    }

    .sucursales-mazatlan {
        background-image: url('../img/elements/content-img-sucursalt-lg.png');
        height: 560px!important;
    }

    .img-sucursal{
       top: 10px;
       left: -20px;
       width: 25%;
     }

    .img-round-sucursal{
        width: 60%;
    }

    .img-sucursal2 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 25%;
    }

}

/*display md:*/
@media only screen and (max-width: 768px) {

    .sucursales{
        background-image: url('../img/elements/content-img-start-md.png');
        height:auto!important;
    }

    .sucursales-mazatlan {
        background-image: url('../img/elements/content-img-sucursalt-md.png');
        height: 420px!important;
    }

    .img-sucursal2 {
        position: absolute;
        top: 15px;
        left: -23px;
        width: 25%;
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {

    .sucursales-mazatlan {
        background-image: url('../img/elements/content-img-sucursalt-sm.png');
        height: 420px!important;
    }

}
@media only screen and (max-width: 415px) {

    .sucursales {
        background-image: url('../img/elements/content-img-start-415.png');
    }
    .tittle-sucursal {
        font-size: 19px;
    }

    .tittle2-sucursal {
        font-size: 17px;
    }

    .img-sucursal {
        top: 43px;
        left: -25px;
        width: 25%;
    }

    .img-sucursal2 {
        position: absolute;
        top: 15px;
        left: -25px;
        width: 25%;
    }

    .img-round-sucursal2{
        width: 55%;
    }

}

/*display xs*/
@media only screen and (max-width: 400px) {
    .tittle-sucursal {
        font-size: 20px;
    }

    .tittle2-sucursal {
        font-size: 15px;
    }

    .text-sucursal {
        font-size: 13px;
    }

    .img-sucursal {
        top: 33px;
        left: -25px;
        width: 25%;
    }

    .img-sucursal2 {
        position: absolute;
        top: 15px;
        left: -25px;
        width: 25%;
    }

    .img-round-sucursal2{
        width: 60%;
    }

    .real{
        font-size: 16px;
        padding: 5px;
    }

}

