
.tittle-sucursal{
    color: #44294f;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 1px #000000;
}

.tittle2-sucursal{
    color: #44294f;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0px 0px 1px #000000;
}

.text-sucursal{
    font-size:20px;
    color: #000000;
     text-shadow: 0px 0px 1px #000000;
     font-family: Glacial;
}

.content-sucursal{
    position: relative;
}

.img-sucursal{
    position: absolute;
    top: 10px;
    left: -35px;
    width: 25%;
}

.img-sucursal2{
        position: absolute;
    top: 10px;
    left: 90px;
    width: 13%;
}

.img-round-sucursal{
    width: 80%;
}

.img-round-sucursal2{
    width: 35%;
}

/*display xl*/
@media only screen and (max-width: 1200px) {
    .tittle-sucursal{
        font-size: 23px;
    }

    .tittle2-sucursal{
        font-size: 22px;
    }

    .text-sucursal{
        font-size:15px;
    }
    .img-sucursal{
        top: 10px;
        left: -30px;
        width: 25%;
    }
}

/*display lg*/
@media only screen and (max-width: 992px) {

      .img-sucursal{
       top: 10px;
       left: -20px;
       width: 25%;
     }

    .img-round-sucursal{
        width: 60%;
    }

    .img-round-sucursal2{
        width: 60%;
    }

    .img-sucursal2 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 25%;
    }

}

/*display md:*/
@media only screen and (max-width: 768px) {

    .img-sucursal2 {
        top: 15px;
        left: -23px;
        width: 25%;
    }

}

/*display sm*/
@media only screen and (max-width: 576px) {

    .img-round-sucursal {
        width: 40%;
    }

    .img-round-sucursal2{
        width: 40%;
    }

    .img-sucursal{
        top: 5px;
        left: 80px;
        width: 13%;
    }

    .img-sucursal2 {
        top: 5px;
        left: 80px;
        width: 13%;
    }


}
@media only screen and (max-width: 415px) {

         
    .tittle-sucursal {
        font-size: 19px;
    }

    .tittle2-sucursal {
        font-size: 17px;
    }

    .img-sucursal {
        top: 43px;
        left: 30px;
        width: 20%;
    }

    .img-sucursal2 {
        top: 15px;
        left: 30px;
        width: 20%;
    }

    .img-round-sucursal2{
        width: 40%;
    }

    .contetn-sucursal{
        padding: 1rem!important;
    }

}

/*display xs*/
@media only screen and (max-width: 400px) {

    .tittle-sucursal {
        font-size: 20px;
    }

    .tittle2-sucursal {
        font-size: 15px;
    }

    .text-sucursal {
        font-size: 13px;
    }

    .img-sucursal {
        top: 33px;
        left: 10px;
        width: 22%;
    }

    .img-sucursal2 {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 22%;
    }

    .img-round-sucursal {
        width: 50%;
    }

    .img-round-sucursal2{
        width: 50%;
    }

    .real{
        font-size: 16px;
        padding: 5px;
    }

}

